@using WebApp.Database
@model WebApp.Database.Course

@{
    ViewBag.Title = "CURS " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var linkToCourse = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host +
                       (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port) + "/Course/ViewCourseConspect?code="
                       + Model.UniqueCode;
}

<a class="quick-nav-trigger" href="#0">
    <span aria-hidden="true"></span>
</a>

<!-- END BASIC PORTLET-->
<body class="bg-default bg-font-default">
<br/>
<br/>
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>
                Cursul: @Model.Name
            </h1>
        </div>
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <div class="page-toolbar">
            <!-- BEGIN THEME PANEL -->
            <div class="btn-group btn-theme-panel">
                <a href="#add_element" class="btn dropdown-toggle" data-toggle="modal">
                    <i class="icon-plus"></i>
                </a>
            </div>
            <div class="btn-group btn-theme-panel">
                <a onclick="copyToClipboard('linkToCourse')" class="btn dropdown-toggle" data-toggle="modal">
                    <i class="fa fa-clipboard"></i>
                </a>
            </div>
            
            <div id="linkToCourse" hidden="hidden">@linkToCourse</div>
            <!-- END THEME PANEL -->
        </div>
        <!-- END PAGE TOOLBAR -->
    </div>
<br />
    
    <div id="elementsList">
        @foreach (var elem in Model.Elements)
        {
            @Html.Partial("_ComponentPartial", elem)
        }
    </div>

    <div class="modal fade" id="add_element" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Adauga un element</h4>
                </div>
                <div class="modal-body">

                    
                    <form method="post" action="@Url.Action("AddAlert", "Alerts")" class="form-horizontal" id="addAlert">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nume</label>
                                <div class="col-md-4 col-lg-6">
                                    <input type="text" class="form-control" name="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tip Continut</label>
                                <div class="col-md-6 col-lg-6">
                                    <select name="Type">
                                        <option value="TXT">Text</option>
                                        <option value="IMG">Imagine</option>
                                        <option value="PDF">PDF</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Continut</label>
                                <div class="col-md-6 col-lg-6">
                                    <input type="text" class="form-control" name="Content">
                                </div>
                            </div>
                            @*<div class="form-actions top">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">Salveaza</button>
                                        <button type="button" class="btn default">Anulare</button>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" id="addElemBtn" class="btn dark btn-outline" data-dismiss="modal">Renuntă</button>
                    <button type="submit" class="btn green">Adaugă</button>
                </div>
            </div>
    </div>




</body>

<script>
    

</script>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/custom/copy-to-clipboard.js"></script>
    
    <script>
        $(document).ready(function() {
            $("#addElemBtn").click(function () {
                var elemVar = "@Html.Raw(Html.Partial("_ComponentPartial", new Element() {Type = "TXT", TextContent = ""}))";
                
                $("#elementsList").appendHtml(elemVar);
                $('#add_element').modal('toggle');
            });
        });        
    </script>
}
